extends layout

block content
  h1= title
  - var results = result
  div(class = "container-fluid")
    div(class = "row")
      each item in results 
        div(class="col-sm-2") 
          p Lumber type: #{item.lumber_type}
          p Cost: #{item.cost}
          p Length: #{item.length}